footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(36, 45, 104);
    gap: 30px;
    color: white;
}

.links-container{
    display: flex;
    flex-flow: column nowrap;
}
footer ul{
    margin-top: 0;
    margin-bottom: 1rem;
}

footer ul a:hover{
    color: #0056b3;
    text-decoration: underline;
}

footer ul .link{
    margin-bottom: 10px;
    color: white;
}
footer img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    transition-duration: 500ms;
}
footer img:hover{
    transform: scale(0.9);
    transition-duration: 500ms;
}
footer ul a i{
    font-family: 'Press Start 2P' !important;
}


font-family: 'Press Start 2P';