footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(36, 45, 104);
    gap: 30px;
    color: white;
}

.links-container{
    display: flex;
    flex-flow: column nowrap;
}
footer ul{
    margin-top: 0;
    margin-bottom: 1rem;
}

footer ul a:hover{
    color: #0056b3;
    text-decoration: underline;
}

footer ul .link{
    margin-bottom: 10px;
    color: white;
}
footer img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    transition-duration: 500ms;
}
footer img:hover{
    transform: scale(0.9);
    transition-duration: 500ms;
}
footer ul .link-2{
    display: flex;
}
footer ul .link-2 i{
    font-size: 1.8em;
}

footer ul .link-2 h6{
display: flex;
margin-left: 17px;
font-size: 0.8em;
}
footer ul a:hover{
color: white;
}

@media screen and (max-width: 800px){

    footer{
        display: grid;
        font-size: 15px;
        grid-template-columns: minmax(375px, 1fr);
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        min-width: fit-content;
    }
    .links-container{
        align-items: center;
    }
}